h1{
	color: rgb(65, 65, 170);
}

p{
	color: green;
}

ol{
	color: rgb(2, 147, 147);
}

#title-film-one{
	color: blue;
	}

.film-one p{
color: rgb(18, 65, 219);
}

#title-film-two{
	color: blueviolet;
}

.film-two p{
	color: rgb(81, 11, 146);
}

#title-film-three{
	color: orange;
}

.film-three p{
	color: orangered;
}

#title-film-four{
	color: rgb(6, 90, 6);
}

#title-film-five{
	color: brown;
}

.film-five p{
	color: rgb(135, 110, 78);
}

.list a{
	color: red;
}

a{
	color: yellowgreen;
}
